@use "tailwindcss";
@use '@angular/material' as mat;
*,
::after,
::before,
::backdrop,
::file-selector-button {
    box-sizing: border-box;
    border: 0;
    margin: 0;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

// change the style of the mat-error
.mat-mdc-form-field-error {
  font-size: 12px; 
}


.mat-horizontal-stepper-header-container{
  margin: 20px 0 ;
}
