@use "tailwindcss";
@use '@angular/material' as mat;
*,
::after,
::before,
::backdrop,
::file-selector-button {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

html, body { height: 100%; }

// change the style of the mat-error
.mat-mdc-form-field-error {
  font-size: 12px; 
}

.mat-horizontal-stepper-header-container {
  margin: 20px 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/*COMMON USAGE*/
.bg-primary {
    background-color: var(--mat-sys-primary) !important;
    color: var(--mat-sys-on-primary) !important;
}

/*TYPOGRAPHY*/
.text-primary {
  color: var(--mat-sys-primary) !important;
}

.text-secondary {
  color: var(--mat-sys-secondary);
}

.text-bg-primary {
  background-color: var(--mat-sys-primary) !important;
  color: var(--mat-sys-on-primary) !important;
}

.text-bg-secondary {
  background-color: var(--mat-sys-secondary) !important;
  color: var(--mat-sys-on-secondary) !important;
}

.header-1 {
    font-size: clamp(1.5rem, 1vw + 1.25rem, 2.5rem);
    font-weight: 700;
    color: var(--mat-sys-on-background);
}

.header-2 {
  font-size: clamp(1.25rem, 1vw + 1rem, 2rem);
  font-weight: 700;
  color: var(--mat-sys-on-background);
}

.header-3 {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--mat-sys-on-background);
}

.header-4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--mat-sys-on-background);
}

.paragraph-1 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--mat-sys-on-surface);
}

.paragraph-2 {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--mat-sys-on-surface);
}

.paragraph-3 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--mat-sys-on-surface);
}

.subtitle-2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--mat-sys-on-background);
}

.subtitle-1 {
    font-size: clamp(1.0rem, 1vw + 0.5rem, 1.2rem);
    font-weight: 400;
    color: var(--mat-sys-on-surface-variant);
}

/* LINK */
a.link-direction {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: var(--mat-sys-primary);
}
a.link-direction:hover {
  color: var(--mat-sys-secondary);
}