<div class="relative bg-cover bg-center max-w-full overflow-hidden"
    style="background-image: url('/images/landing-hero-1.jpg');">
    <div class="container flex flex-col gap-3" style="padding-block: 25vh ;">
        <h2 class="header-1 max-w-2xl">
            Your Health, Simplified. Access trusted doctors and essential health services—anytime, anywhere.
            All in one easy-to-use platform.
        </h2>
        <p class="subtitle-1 max-w-2xl">
            We are a platform-based technology consulting firm that helps deliver solutions for companies’
            tech projects and software development outsource on demand.
        </p>

        <a href="/home" mat-flat-button class="btn btn-primary w-1/2 no-underline">Get Started</a>
    </div>
</div>

<!-- SERVICES -->
<div class="flex flex-col items-center container gap-5" style="padding-block: 5vh;">
    <h2 class="header-1">Our Services</h2>
    <div class="container">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">

            <mat-card class="h-full">
                <mat-card-header>
                    <div mat-card-avatar class="circle-icon mx-auto text-primary">
                        <i class="fa-solid fa-user-doctor"></i>
                    </div>
                </mat-card-header>
                <mat-card-title class="text-center">Online Medical Consultation</mat-card-title>
                <mat-card-content>
                    <p class="text-center">Access professional doctors easily anytime, anywhere.</p>
                </mat-card-content>
            </mat-card>

            <mat-card class="h-full">
                <mat-card-header>
                    <div mat-card-avatar class="circle-icon mx-auto text-primary">
                        <i class="fa-solid fa-calendar-alt"></i>
                    </div>
                </mat-card-header>
                <mat-card-title class="text-center">Schedule Appointments</mat-card-title>
                <mat-card-content>
                    <p class="text-center">Arrange your doctor visits quickly and conveniently through the app.</p>
                </mat-card-content>
            </mat-card>

            <mat-card class="h-full">
                <mat-card-header>
                    <div mat-card-avatar class="circle-icon mx-auto text-primary">
                        <i class="fa-solid fa-pills"></i>
                    </div>
                </mat-card-header>
                <mat-card-title class="text-center">Medication Recommendations</mat-card-title>
                <mat-card-content>
                    <p class="text-center">Receive advice and information on medications tailored to your health
                        needs.</p>
                </mat-card-content>
            </mat-card>

            <mat-card class="h-full">
                <mat-card-header>
                    <div mat-card-avatar class="circle-icon mx-auto text-primary">
                        <i class="fa-solid fa-file-medical"></i>
                    </div>
                </mat-card-header>
                <mat-card-title class="text-center">Digital Health Records</mat-card-title>
                <mat-card-content>
                    <p class="text-center">Store and manage your health history securely in one place.</p>
                </mat-card-content>
            </mat-card>

            <mat-card class="h-full">
                <mat-card-header>
                    <div mat-card-avatar class="circle-icon mx-auto text-primary">
                        <i class="fa-solid fa-heartbeat"></i>
                    </div>
                </mat-card-header>
                <mat-card-title class="text-center">Health Monitoring</mat-card-title>
                <mat-card-content>
                    <p class="text-center">Track your health conditions with easy-to-use features.</p>
                </mat-card-content>
            </mat-card>

            <mat-card class="h-full">
                <mat-card-header>
                    <div mat-card-avatar class="circle-icon mx-auto text-primary">
                        <i class="fa-solid fa-user-nurse"></i>
                    </div>
                </mat-card-header>
                <mat-card-title class="text-center">Specialist Consultations</mat-card-title>
                <mat-card-content>
                    <p class="text-center">Meet with specialists ready to help you with various health concerns.</p>
                </mat-card-content>
            </mat-card>

            <mat-card class="h-full">
                <mat-card-header>
                    <div mat-card-avatar class="circle-icon mx-auto text-primary">
                        <i class="fa-solid fa-comment-dots"></i>
                    </div>
                </mat-card-header>
                <mat-card-title class="text-center">Chat with Doctors</mat-card-title>
                <mat-card-content>
                    <p class="text-center">Consult with doctors via chat for quick and practical solutions.</p>
                </mat-card-content>
            </mat-card>

            <mat-card class="h-full">
                <mat-card-header>
                    <div mat-card-avatar class="circle-icon mx-auto text-primary">
                        <i class="fa-solid fa-shield-alt"></i>
                    </div>
                </mat-card-header>
                <mat-card-title class="text-center">Guaranteed Privacy</mat-card-title>
                <mat-card-content>
                    <p class="text-center">Your health data is safe and protected, accessible only by you and your
                        doctors.</p>
                </mat-card-content>
            </mat-card>

        </div>
    </div>
</div>

<!-- ACHIEVEMENTS -->
<div class="bg-gray-100">
    <div class="container py-20">
        <div class="text-center mb-20">
            <h2 class="header-1">Our Achievements</h2>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
            <div class="flex flex-col items-center gap-1">
                <h5 class="header-2">100,000+</h5>
                <p class="paragraph-2 text-center text-primary">Successful Consultations</p>
            </div>
            <div class="flex flex-col items-center gap-1">
                <h5 class="header-2">1,000+</h5>
                <p class="paragraph-2 text-center text-primary">Partnering Healthcare Professionals</p>
            </div>
            <div class="flex flex-col items-center gap-1">
                <h5 class="header-2">5,000+</h5>
                <p class="paragraph-2 text-center text-primary">Happy Patients</p>
            </div>
            <div class="flex flex-col items-center gap-1">
                <h5 class="header-2">95%</h5>
                <p class="paragraph-2 text-center text-primary">Customer Satisfaction Rate</p>
            </div>
        </div>
    </div>
</div>

<!-- MEET OUR DOCTORS -->
<div class="flex flex-col items-center container gap-5 py-20">
    <h2 class="header-1">Meet Our Doctors</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
        <div class="card-doctor">
            <img src="https://images.pexels.com/photos/5452293/pexels-photo-5452293.jpeg?auto=compress&cs=tinysrgb&w=600"
                alt="Dr. John Doe">
            <div class="card-body gap-2 mt-3">
                <h5 class="header-4 block">Dr. John Doe</h5>
                <p class="subtitle-1">A specialist in internal medicine with over 10 years of experience, Dr. Doe is
                    dedicated to providing quality care and personalized treatment plans.</p>
                <a href="/search-doctor" class="btn btn-primary">Details</a>
            </div>
        </div>
        <div class="card-doctor">
            <img src="https://images.pexels.com/photos/4167541/pexels-photo-4167541.jpeg?auto=compress&cs=tinysrgb&w=600"
                alt="Dr. Jane Smith">
            <div class="card-body gap-2 mt-3">
                <h5 class="header-4 block">Dr. Jane Smith</h5>
                <p class="subtitle-1">With a background in pediatrics, Dr. Smith is passionate about children's health
                    and ensuring a positive experience for her young patients.</p>
                <a href="/search-doctor" class="btn btn-primary">Details</a>
            </div>
        </div>
        <div class="card-doctor">
            <img src="https://images.pexels.com/photos/5215024/pexels-photo-5215024.jpeg?auto=compress&cs=tinysrgb&w=600"
                alt="Dr. Emily Johnson">
            <div class="card-body gap-2 mt-3">
                <h5 class="header-4 block">Dr. Emily Johnson</h5>
                <p class="subtitle-1">A board-certified psychiatrist, Dr. Johnson focuses on mental health and
                    well-being, offering compassionate support and treatment options.</p>
                <a href="/search-doctor" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>
</div>

<!-- TESTIMONIALS -->
<div class="bg-gray-100">
    <div class="flex flex-col items-center container gap-5 py-20">
        <h2 class="text-gray-800 font-bold text-3xl">Testimonials</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-5 w-full">
            <div class="list-group-item bg-secondary-2 p-4 rounded-lg">
                <div class="flex gap-2 justify-center items-center">
                    <img src="https://i.pravatar.cc/300" class="rounded-full" alt="User Testimonial"
                        style="width: 50px; height: 50px;">
                    <div class="flex flex-col">
                        <h5 class="card-title header-4 text-primary">Sarah K.</h5>
                        <p class="card-text">"Carebridge made it incredibly easy to consult with my doctor from home.
                            The service was fast and reliable!"</p>
                    </div>
                </div>
            </div>
            <div class="list-group-item bg-secondary-2 p-4 rounded-lg">
                <div class="flex gap-2 justify-center items-center">
                    <img src="https://i.pravatar.cc/300" class="rounded-full" alt="User Testimonial"
                        style="width: 50px; height: 50px;">
                    <div class="flex flex-col">
                        <h5 class="card-title header-4 text-primary">Mark T.</h5>
                        <p class="card-text">"I love how accessible Carebridge makes healthcare. My doctor was attentive
                            and answered all my questions!"</p>
                    </div>
                </div>
            </div>
            <div class="list-group-item bg-secondary-2 p-4 rounded-lg">
                <div class="flex gap-2 justify-center items-center">
                    <img src="https://i.pravatar.cc/300" class="rounded-full" alt="User Testimonial"
                        style="width: 50px; height: 50px;">
                    <div class="flex flex-col">
                        <h5 class="card-title header-4 text-primary">Linda R.</h5>
                        <p class="card-text">"The convenience of Carebridge is unmatched. I was able to get the help I
                            needed without any hassle!"</p>
                    </div>
                </div>
            </div>
            <div class="list-group-item bg-secondary-2 p-4 rounded-lg">
                <div class="flex gap-2 justify-center items-center">
                    <img src="https://i.pravatar.cc/300" class="rounded-full" alt="User Testimonial"
                        style="width: 50px; height: 50px;">
                    <div class="flex flex-col">
                        <h5 class="card-title header-4 text-primary">Jessica M.</h5>
                        <p class="card-text">"Carebridge has transformed the way I access healthcare. Highly recommend
                            it to everyone!"</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>