<section class="flex flex-col justify-between gap-8 p-4 h-full">
    <div class="d-flex flex-column gap-0">
        <img src="/images/logo.png" alt="Logo" class="d-inline-block align-self-start" style="width: 250px" />
        <p class="paragraph-3">Please login to continue</p>
    </div>

    <form [formGroup]="loginForm" id="form-login" class="flex flex-col gap-5 grow w-100 needs-validation" novalidate
        (ngSubmit)="login()">

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" id="email-login" formControlName="email">
            <div *ngIf="f['email'].errors && (f['email'].dirty || f['email'].touched)">
                <mat-error *ngIf="f['email'].errors['required']">Email is required.</mat-error>
                <mat-error *ngIf="f['email'].errors['email']">Invalid email format.</mat-error>
            </div>
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide() ? 'password' : 'text'" id="password-login" formControlName="password"
                required>
            <button mat-icon-button matSuffix type="button" (click)="togglePassword($event)"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()" style="margin-right: 8px;">
                <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <div *ngIf="f['password'].errors && (f['password'].dirty || f['password'].touched)">
                <mat-error *ngIf="f['password'].errors['required']">Password is required.</mat-error>
                <mat-error *ngIf="f['password'].errors['minlength']">Password must be at least 6 characters
                    long.</mat-error>
            </div>
        </mat-form-field>

        <app-dialog-button [title]="'Custom Dialog Title'" [placeholder]="'Forgot Password ?'"
            [message]="'This is a custom message for the dialog.'" (onConfirm)="handleConfirmForgotPassword($event)">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" id="email-login" formControlName="email" required>
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
        </app-dialog-button>

        <button mat-flat-button color="secondary" type="submit" class="btn btn-secondary"
            style="width: 100%">Login</button>
        <p class="mt-3 text-center">Don't have an account? <a href="/auth/register" mat-button>Register Now</a></p>
    </form>
</section>