<div id="sidebar" [class.closed]="!isSidebarOpen" class="flex flex-row gap-0 w-56">
    <div class="flex-shrink-0 p-3 bg-white shadow-sm">
        <div class="flex flex-col h-full justify-between" style="padding: 40px 10px;">
            <!-- Logo -->
            <a href="/" class="flex items-center pb-3 mb-3 border-b border-gray-300">
                <img src="/images/logo.png" alt="Logo" class="w-44 self-center" />
            </a>

            <mat-selection-list class="flex-grow overflow-y-auto" style="margin-top: 20px;">
                @for (menu of menus; track menu){
                <mat-list-item>
                    <mat-icon matListItemIcon>{{menu.menu?.smallIcon}}</mat-icon>
                    <h3 matLine>{{menu.menu?.name}}</h3>
                </mat-list-item>
                }
            </mat-selection-list>

            <!-- Sign Out Button -->
            <button mat-raised-button id="sign-out">
                Sign Out
            </button>
        </div>
    </div>

    <div class="flex flex-col flex-grow justify-center h-screen relative right-1.25 z-10">
        <button mat-fab id="toggle-sidebar" (click)="toggleSidebar()">
            <mat-icon>{{ isSidebarOpen ? 'arrow_left' : 'arrow_right' }}</mat-icon>
        </button>
    </div>
</div>