@use '@angular/material' as mat;s

#sidebar {
  transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#content-dashboard,
nav#content-dashboard {
  transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1), width 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}


button#sign-out {
  @include mat.button-overrides((
    filled-container-color: red
  ));
}